
:root {
  /* Spacing presets */
  --space-50: 0.25rem;
  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1.0rem;
  --space-300: 1.5rem;
  --space-400: 2.0rem;
  --space-500: 2.5rem;

  /* Text Presets */
  --text-preset1-font-family: "Inter", sans-serif;
  --text-preset1-font-weight: 800;
  --text-preset1-font-size: 1.5rem;
  --text-preset1-line-height: 150%;

  --text-preset2-font-family: "Inter", sans-serif;
  --text-preset2-font-weight: 700;
  --text-preset2-font-size: 0.875rem;
  --text-preset2-line-height: 150%;

  --text-preset2-bold-font-weight: 900;
  --text-preset2-bold-font-size: 0.875rem;
  --text-preset2-bold-line-height: 150%;

  /* Color presets */
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --color-black: #000000;
}



body, html {
  font-family: var(--text-preset2-font-family);
  background-color: var(--color-grey-900);
  height: 100%;
  padding: 0px;
  border: 0px;
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
}

#card-wrap {
  background-color: var(--color-grey-800);
  padding: var(--space-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-300);
  border-radius: 0.75rem;
  flex: 1 0 0;
  color: var(--color-white);
}

#avatar-image {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 62rem;
  margin-bottom: var(--space-300);
}

#title {
  display: block;
}

#name {
  font-family: var(--text-preset1-font-family);
  font-size: var(--text-preset1-font-size);
  font-weight: 600;
  margin: 0px;
}

#location {
  font-family: var(--text-preset2-font-family);
  font-size: var(--text-preset2-font-size);
  font-style: normal;
  font-weight: var(--text-preset2-font-weight);
  line-height: var(--text-preset2-bold-line-height);
  color: var(--color-green);
  padding-top: var(--space-50);
  padding-bottom: var(--space-300);
  margin: 0px;
}

#description {
  font-size: var(--text-preset2-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-preset2-line-height);
  align-self: stretch;
  margin: 0px;
  padding-bottom: var(--space-300);
}

#button-wrap {
  display: flex;
  flex-direction: column;
}

button {
  width: 17.5rem;
  border-style: none;
  padding: var(--space-150);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
  align-self: stretch;
  border-radius: 0.5rem;
  background-color: var(--color-grey-700);
  color: var(--color-white);
  font-family: var(--text-preset2-bold-font-size);
  font-style: normal;
  font-weight: var(--text-preset2-bold-font-weight);
  line-height: var(--text-preset2-line-height);
  margin-bottom: var(--space-200);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--color-green);
  color: var(--color-black);
  transform: scale(1.05); /* Slightly enlarges the button */
  cursor: pointer;
}

.bottom-butt {
  margin-bottom: 0rem;
}

/* Tablet Styles */
@media (min-width: 17.4rem) and (max-width: 23.5rem) {
  .container {
    padding: var(--space-500);
  }

  .button {
    width: 100%;
  }

  #card-wrap {
    width: 23.5rem;
  }
}

/* Mobile Styles */
@media (max-width: 17.4rem) {
  .container {
    padding: var(--space-300);
  }

  .button {
    width: 100%;
  }

  #card-wrap {
    width: 17.4rem;
  }
}
